/* 
* @Author: lantao
* @Date:   2017-08-07 14:44:02
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-07 14:44:55
*/
h1,h2,h3,h4,h5,h6{padding:0;margin:0;}
li{list-style: none;}
.icon-xing{color:#ddd;}
.yellowStar{color:#FF9303;}
.ratio{display:inline-block;background-color:#2BBB14;width: 50%;height: 10px;}
.ratioBox{display:inline-block;background-color:#DCDCDC;width: 100px;height: 10px;line-height: 10px;}
.icon-tubiaozhizuomoban,.icon-down{color:#FF4552;}
.icon-yishengtuandui{color:#2BBB14;}
.f_l{float:left;}
/*左边*/
#mComment h4{line-height:40px;font-size:16px;border-bottom: 3px solid #000;}
.commentData{background-color: #EFEFEF;padding: 10px;overflow: hidden;}
.avarageRating{float: left;}
.avarageRating p{line-height:20px; font-size:15px;}
.avarageStar {line-height: 34px;}
 .bigStar {font-size:28px;}
.everyRating{float: right;}
.highlight_red{color:#FF4500;text-decoration: underline;}
/*下面评论区*/
.commentUl{overflow:hidden;padding:0;height:500px;border-bottom: 1px dotted green;background-color:#f8f9f7;}
.commentUl li{border-bottom:1px dotted #ddd;margin-top:30px;overflow:hidden;padding-bottom: 12px;}
/*左边*/
.commentUl li .commentLeft{margin-right: 60px;width: 15%;color:#B399A6;padding-left: 30px;}
.time{display:inline-block;font-size:14px;line-height:20px;margin-bottom: 5px;}
.commentLeft   h6{color:#FF4500;margin-bottom: 16px;}
/*右边*/
.commentUl li .commentRight{width: 73%;}
.thanks{border:1px dotted #9BDF70;line-height: 30px;background-color:#F0FBEB;padding-left: 10px;}
.thanks i{padding-left: 10px;}
/*用户填写区*/
 .buyerComments {padding-left: 20px;}
.buyerComments p {width:0px;}
.buyerComments input{width: 180px;margin-bottom: 20px;}
textarea{margin-bottom: 20px;}
.userCaptcha{width: 55px;height: 20px;}
.captcha{display:inline-block;width: 120px;height: 25px;text-align:center;font-size:16px;background-color:#7F7F7F ;color:#fff;margin-left: 5px;}
.btnSubmit{background-color: #F7921D;color:#fff;border:0;width: 64px;height: 35px;}
